* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  color: #444444;
}

a {
  color: #fafafa;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Bowlby One', cursive;
  letter-spacing: 0rem;
}

h1 {
  font-size: 2rem;
  padding: 0;
}

h2 {
  font-size: 2rem;
  color: #a0638a;
  padding-bottom: 1rem;
}

h3 {
  color: #a0638a;
}
header {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3% 5% 3% 5%;
  color: #fafafa;
  background-color: #a0638a;
}

main {
  margin: auto;
  padding: 3% 5% 3% 5%;
}

footer {
  margin: auto;
  padding: 2% 5% 2% 5%;
  color: #fafafa;
  background-color: #a0638a;
}

#hamburger {
  font-size: 2.5rem;
  position: relative;
  top: -6px; 
}

#logo {
}

nav ul {
  list-style-type: none;
  min-width: 700px;
}

nav ul li {
  font-size: 1.25rem;
  margin-left: 2rem;
}

nav ul li a {
  text-decoration: none;
}


article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

figcaption {
  font-weight: bold;
  text-align: center;
}

img {
  width: 100%;
}

section {
  padding: 1rem;
  max-width: 320px;
  overflow: hidden;
}

#mobile {
  display: none;
}

/***** MEDIA QUERIES *****/
@media (max-width: 700px) {
  #hamburger {
    display: inline;
  }

  #desktop {
    display: none;
  }

}

@media (min-width: 701px) {
  #hamburger {
    display: none;
  }

  #desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  h1, h2, h3, h4, h5, h6{
    letter-spacing: 0rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  #desktop ul {
    position: relative;
    top: 20px;
  }

  nav ul li {
    display: inline;
  }

  #mobile {
display: none;
  }

  #mobile ul li {
display: none;
  };
}


