* {
	margin: 0;
	padding: 0;
	border: 0;
  font-size: 18px;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

h1 {
  font-size: 3rem;
padding: 0;
}

h2 {
font-size: 2rem;

}

header {
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

#hamburger {
font-size: 3rem;
}

nav ul {
list-style-type: none;
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

nav ul li {
  font-size: 1.5rem;
margin: 1rem;
}

nav ul li a {
text-decoration: none;
}

article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

figcaption {
font-weight: bold;
text-align: center;
}

img {
width: 100%;
}

section {
padding: 1rem;
max-width: 310px;
overflow: hidden;
}

#container {
  font-family: "Arial";
margin: auto;
padding-right: 5%;
padding-left: 5%;
}
