* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  color: #444444;
}

a {
  color: #fafafa;
}

a:hover {
  text-decoration: underline;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Bowlby One', cursive;
  letter-spacing: 0.1rem;
}

h1 {
  font-size: 2.5rem;
  padding: 0;
}

h2 {
  font-size: 2rem;
  color: #a0638a;
  padding-bottom: 1rem;
}

h3 {
  color: #a0638a;
}
header {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3% 5% 3% 5%;
  color: #fafafa;
  background-color: #a0638a;
}

main {
  margin: auto;
  padding: 3% 5% 3% 5%;
}

footer {
  margin: auto;
  padding: 2% 5% 2% 5%;
  color: #fafafa;
  background-color: #a0638a;
}

#hamburger {
  font-size: 3rem;
}

#logo {
  padding-left: 2rem;
padding-right: 2rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav ul li {
  font-size: 1.25rem;
  margin: 0.75rem;
}

nav ul li a {
  text-decoration: none;
}


article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

figcaption {
  font-weight: bold;
  text-align: center;
}

img {
  width: 100%;
}

section {
  padding: 1rem;
  max-width: 310px;
  overflow: hidden;
}

/***** MEDIA QUERIES *****/
@media (max-width: 1000px) {
#hamburger {
display: inline;
}

nav ul li {
display: none;
}

}

@media (min-width: 1001px) {
#hamburger {
display: none;
}

nav ul li {
display: block;
}
}


